# Copy this file to .env in the server directory and set the values for your environment.
MS_AZURE_ENDPOINT=
MS_AZURE_MODEL_NAME=
MS_AZURE_DEPLOYMENT_NAME=
MS_AZURE_SUBSCRIPTION_KEY=
MS_AZURE_API_VERSION=
RESUME_LINK=
ALLOWED_ADMIN_IPS=
ADMIN_TOKEN=